<h1>Moderators Index</h1>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>User Name</th>
			<th>Profile Pic</th>
			<th>Created</th>
			<th>Action</th>
		</tr>		
	</thead>
	<tbody>
		<tr>
<% @moderators.each do |moderator| %>
			<td><%= moderator.fullname %></td>
			<td><%= moderator.username %></td>
			<td><%= image_tag moderator.pimage.url(:thumb), alt: moderator.fullname  %></td>
			<td><%= time_ago(moderator.created_at) %></td>
			<td><%= link_to 'Edit', edit_admin_moderator_path(moderator) %></td>
<% end %>
		</tr>
	</tbody>
</table>

